// Colors
$clr1: #d6d6d6;
$clr2: #ae9d5c;
$clr3: #a82525c4;
$clr4: #39c152c5;
$clr5: #fff;
$clr6: #cecece;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
